

.percorso2{
  //margin-top: -19px; // attacca l'img alla navbar
  margin-bottom: 20px;
}

button.d-block.w-100{
  font-size: 22px!important;
  height: 35px!important;
  //border-color: rgb(27 177 27);
}


