nav{
  border-radius: 0 0 50px 50px;
}

.logo{
  width:60px;
  font-size: 30px;
  border-radius: 10%;
  margin-left: 20px;
  //display:block;
  float: right;
 // position: relative;
  //top: 4px;
}

.digital_fashion{
  font-size: 25px;
  margin-left: 20px;
  //font-family: 'Monsieur La Doulaise', cursive!important;
  font-family: 'Pinyon Script', cursive!important;
  color:  rgb(255, 255, 255);
  vertical-align: sub;
  //font-weight: bold;
}

a{
    font-size: 15px;
    word-spacing: 2px; //spazio caratteri

}

fa-icon{
  font-size: 21px;
  margin-right: 5px;
  color: #2d2621!important;
}

.bg-dark{
  background-color: #6b584c!important;
}

.navbar-brand{
  display: block;
  float: right;
  //margin-top: 25px;
  font-size: 25px;
  font-weight: 900;
  margin-right: 30px;
}

button.btn.btn-outline-success{
  //margin-right: 30px;
  display:block;
  float: right;
  position: relative;
  //top: 4px;
  top:3px;
  height: 40px;
  border-color:white ;

  .icon{
    color: rgb(255, 255, 255)!important;
  }
}

  button.btn.btn-outline-success:hover{
    background-color:   rgb(255, 255, 255);
    .icon{
      color: #2d2621!important;
    }
  }

input.search{
margin-right: 10px;
height: 36px;
margin-top: 5px;
padding-left: 8px;
border: 0px;
border-radius: 3px;
margin-left: 550px;
}

a{
  font-family: 'Emilys Candy', cursive;
      font-size: 17px;
    //font-weight: bold!important;
    color:rgb(255, 255, 255);
    font-weight: lighter!important;
}
