<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  routerLink="home">
      <img src="../assets/img/icon3.jpg" class="logo" alt="logo moda"><span class="digital_fashion"> Digital
        Fashion</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">
            <fa-icon [icon]="iconaHome"></fa-icon>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="abbigliamento">
            <fa-icon [icon]="iconaAbbigliamento"></fa-icon>Abbigliamento
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >
            <fa-icon [icon]="iconaMail"></fa-icon>Contatti
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">
            <fa-icon [icon]="iconaRegistered"></fa-icon>Registrati
          </a>
        </li>
        <li>
          <form class="form-inline my-2 my-lg-0">
            <input class=" search" type="search" placeholder="Search" aria-label="Ricerca">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <fa-icon [icon]="iconaRicerca" class="icon"></fa-icon>
            </button>
          </form>
        </li>
      </ul>
    </div>

  </nav>
</header>
