nav{
  border-radius: 0 0 50px 50px;
}

.logo{
  width:60px;
  font-size: 30px;
  border-radius: 10%;
  margin-left: 20px;
  //display:block;
  float: right;
 // position: relative;
  //top: 4px;
}

.digital_fashion{
  font-size: 25px;
  margin-left: 20px;
  //font-family: 'Monsieur La Doulaise', cursive!important;
  font-family: 'Pinyon Script', cursive!important;
  color:  rgb(180, 181, 181);
  vertical-align: sub;
}

a{
    font-size: 15px;
    word-spacing: 2px; //spazio caratteri

}

fa-icon{
  font-size: 21px;
  margin-right: 5px;
  color: rgb(34, 166, 34);
}

.bg-dark{
  background-color: #383839!important;
}

.navbar-brand{
  display: block;
  float: right;
  //margin-top: 25px;
  font-size: 25px;
  font-weight: 900;
  margin-right: 45px;
}

button.btn.btn-outline-success{
  margin-right: 30px;
  display:block;
  float: right;
  position: relative;
  //top: 4px;
  top:3px;
  height: 40px;
  color: rgb(34, 166, 34);
  }
  button.btn.btn-outline-success:hover{
    color: white;
    background-color:   rgb(53, 134, 53);
    .icon{
      color: white;
    }
  }

input.search{
margin-right: 10px;
height: 36px;
margin-top: 5px;
padding-left: 8px;
border: 0px;
border-radius: 3px;
margin-left: 550px;
}

a{
  font-family: 'Emilys Candy', cursive;
      font-size: 17px;
    //font-weight: bold!important;
    color:white;

}

.subtitle{
  padding: 50px;
  font-family: 'Monsieur La Doulaise', cursive;
  //font-weight: bold;
  text-align: center;
  font-size: 56px;
  margin-top: -19px; // attacca l'img alla navbar

}
/*
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Pinyon Script', cursive;
*/
.txt1{
  font-family: 'Pinyon Script', cursive;
  font-size: 20px!important;
  font-weight: bold;
  text-align: left!important;
}

.txt2{
  font-family: 'Pinyon Script', cursive;
  font-size: 20px!important;
  font-weight: bold;
  text-align: right!important;
}









/*
#main-container{
  padding: 15px; //spazio a destra e sinistra
p{
text-align: justify; //testo giustificato, no sinistra o destra
font-size: 13px;
}
}

.testo-evidenziato{
  background-color: yellow;
  width: 548px;
}

.percorso2{
  margin-top: -19px; // attacca l'img alla navbar
  margin-bottom: 20px;
}


//Stili Bootstrap per Carousel
ngb-carousel.carousel.slide{
margin-top: -19px; // attacca l'img alla navbar
margin-bottom: 20px;


.carousel-caption{
  top: 26rem;

  h3{
    font-family: "Homemade Apple",cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px; // x,y e sfogatura
  }

  h2{
    font-size: 20px;
    text-shadow: black 2px 2px 3px;
    font-weight: lighter;
  }

}
}

.carousel-control-next-icon, .carousel-control-prev-icon{
opacity: 1, im !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 4rem;
  height: 4rem;
}
*/
