.chip-gold{
  width: -moz-fit-content;
  font-family: "Cormorant Upright", serif !important;
  background-image: linear-gradient(to bottom right, #6b584c, #bbaf8e, #6b584c);
  border-radius: 20px;
  position: relative;
  top: 40px;
  text-align: center;
  clear: both;
  padding: 5px;
  width: 81%;
  margin: auto;
  height: 46px;
  cursor:pointer;
}

