.container-fluid{
  display:block;
  //float:left;
  margin-bottom: 20px;
  height: 110vh;
  //background-image: url('https://t3.ftcdn.net/jpg/04/83/93/30/360_F_483933086_N0PLiXa8PMoUxoPTFVeHE3WBf5Ur5aYp.jpg ');


  .container-image{
    //width:23%;
    //margin-left: 1.5%;
    float:left;
    margin-bottom: 20px;
  }
  .card-title{
    font-size: 22px;;
    color: #8e210b;;
    font-weight: bold;
    //padding: 10px;
    padding: 5px;
    margin-top: 20px;
  }

/*.card-image{
  height: 330px;
  //background-image: url(https://www.kikkoman.eu/fileadmin/user_upload/03-recipes/WEB_Spagetti_med_kjoettsaus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-left: -24px;
  margin-right: -24px;
}*/

.card-image {
    margin-left: -24px;
    height: 330px;
    margin-left: -24px;
    width: 53%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-text{
  padding: 10px;
}

}
.price-span{
  font-weight: bold;
  padding: 10px;
}
.price-p{
  padding-left: 10px;
}

.date-p{
  padding: 10px;
}

.published-p{
  font-weight: bold;
}
.abbigliamento{
  padding-left: 50%;
  color:#8e210b;
  padding-top:4px;
}

.abbigliamento:hover{
  color: #c78a8a;
}

#img1{
  width: 91%;
  height: 47%;
  background-position: center;
  margin-left: 102%;
}

#img2{
    width: 45%;
    margin-left: 102%;
    height: 50%;
    margin-top: 9px;
    object-position: 0px 3px;
}

#img3{
  width: 44%;
  height: 165px;
  display: block;
  margin-left: 149%;
  margin-top: -162px;
}

img.difficult {
  width: 10%;
}
