@import"../node_modules/bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/scss/bootstrap';


body {
// font-family: 'Rasa', serif;
 //font-family: 'Emilys Candy', cursive;
 font-family: 'Cormorant Upright', serif;
font-size: 21px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #383839;
  border-radius: 50px 50px 0 0;
}

#main-container {
  padding: 15px; //spazio a destra e sinistra

  p {
    text-align: justify; //testo giustificato, no sinistra o destra
    font-size: 21px;
  }
}

.variabilePercorso2 {
  //margin-top: -19px; // attacca l'img alla navbar
  margin-bottom: 20px;
}

#carousel-images {
  .carousel.slide {
    //margin-bottom: 20px

    .carousel-caption {
      top: 26rem;

      h3 {
        font-family: "Homemade Apple", cursive;
        font-size: 40px;
        text-shadow: black 2px 3px 3px; // x,y e sfogatura
      }

      h2 {
        font-size: 20px;
        text-shadow: black 2px 2px 3px;
        font-weight: lighter;
      }

    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    opacity: 1, im !important;
    width: 4rem!important;
    height: 4rem!important;
    background-color: rgb(126, 212, 126)!important;
   padding: 34px!important;
   border-radius: 50%!important;
   background-size:43px!important;
  }
}



