<!-- <div class="d-flex justify-content-start" *ngIf="categoryNameList">
  <div *ngFor="let category of categoryNameList">
    <app-cip [cat]="category" (click)="orderBy(category)"></app-cip>
  </div>
</div> -->



<!-- <p-menubar [model]="items">
  <div>
  </div>
</p-menubar> -->



  <div class="strong-div">
  <p *ngIf="titoloRicevuto" class="strong"> Hai cliccato l'abbigliamento: <strong>{{titoloRicevuto}}</strong></p>
 </div>






 <app-dress-card [OrderByCategory]="OrderByCategory" [pag] ="'vestiti'" (messaggio)="riceviTitolo($event)"></app-dress-card>
